# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [ ]:
# your code here
orders = pd.read_csv('Orders.csv')
orders.head()

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [7]:
# your code here

#Sub Problem 1: How to aggregate the amount_spent for unique customers?
customers_spending = orders.groupby('CustomerID').sum()['amount_spent'].reset_index()

In [8]:
#Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
Q95 = customers_spending['amount_spent'].quantile(0.95)
Q75 = customers_spending['amount_spent'].quantile(0.75)


def classify_customer(row):
    if row['amount_spent'] >= Q95:
        return 'Vip'
    elif row['amount_spent'] >= Q75 and row['amount_spent'] < Q95:
        return 'Preferred'
    return 'Normal'

customers_spending['Customer Classification'] = customers_spending.apply(classify_customer, axis=1)
customers_spending

      CustomerID  amount_spent Customer Classification
0          12347        711.79               Preferred
1          12348        892.80               Preferred
2          12359        547.50                  Normal
3          12370       1868.02               Preferred
4          12377       1001.52               Preferred
...          ...           ...                     ...
1084       18245        365.73                  Normal
1085       18259        376.30                  Normal
1086       18260        787.77               Preferred
1087       18269        168.60                  Normal
1088       18283        108.45                  Normal

[1089 rows x 3 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [9]:
# your code here
filtered = customers_spending[customers_spending['Customer Classification']=="Vip"]
filtered

      CustomerID  amount_spent Customer Classification
11         12415       7092.98                     Vip
17         12433       3787.12                     Vip
20         12471       4627.81                     Vip
41         12557       4037.12                     Vip
60         12681       3912.24                     Vip
81         12748       4487.95                     Vip
82         12753       3590.59                     Vip
83         12755       3794.40                     Vip
139        13081       5894.42                     Vip
141        13089       8443.26                     Vip
144        13093       6068.47                     Vip
173        13225       2470.44                     Vip
201        13408       3335.40                     Vip
207        13458       2675.04                     Vip
211        13488       2740.21                     Vip
239        13680       2391.59                     Vip
240        13694       5507.92                     Vip
250        13767       3110.24                     Vip
252        13777       7294.42                     Vip
257        13798       6571.02                     Vip
286        14031       3538.19                     Vip
310        14156      17096.92                     Vip
331        14258       3120.22                     Vip
336        14298       6119.36                     Vip
398        14646      18980.94                     Vip
404        14680       4395.51                     Vip
416        14733       5935.53                     Vip
449        14911       7995.94                     Vip
466        15032       2770.60                     Vip
470        15039       2782.76                     Vip
471        15044       2402.15                     Vip
475        15061      21327.11                     Vip
518        15311       5156.51                     Vip
583        15640       3369.13                     Vip
604        15749      22998.40                     Vip
608        15769       5636.28                     Vip
614        15808       2983.77                     Vip
624        15856       3281.31                     Vip
655        16013       4408.10                     Vip
658        16029      13862.52                     Vip
688        16210       7000.64                     Vip
721        16422       2534.09                     Vip
768        16684       3113.40                     Vip
837        17017       2357.64                     Vip
876        17230       2760.01                     Vip
896        17340       4360.39                     Vip
908        17381       3815.72                     Vip
914        17404       3834.30                     Vip
915        17406       2200.42                     Vip
922        17450      20649.04                     Vip
930        17511      10573.22                     Vip
996        17841       3771.03                     Vip
999        17850       5391.21                     Vip
1059       18092       3111.84                     Vip
1062       18102      27834.61                     Vip

KeyError: ignored

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
grouped = orders.groupby('Country').agg({'Customer Classification':'count'}).reset_index()
grouped